---
layout: default
title: Erica Sosa | Web Developer
permalink: /
---
{% include nav.html %}
<header class="index-header">
    <div class="header-content">
        <div class="header-content-inner">
            <div class="inner-title">
                <h1>Erica Sosa</h1>
            </div>
            <hr>
            <div class="inner-text">
                <p class="header-description">Full-stack web developer</p>
            </div>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">More about me</a>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About me</h2>
                <hr class="light">
                <p class="text-faded">
                    I changed careers in 2015 to become a full-stack web developer using Ruby on Rails and JavaScript. I create functional and beautiful websites. I can make a site from scratch, build a feature, or fix a bug. Check out some examples of my work below.
                </p>
                <p>
                    <a href="#portfolio" class="page-scroll btn btn-sm portfolio-button">See my work</a>
                    <a href="{{ site.baseurl }}/blog" class="btn btn-sm portfolio-button">Read my blog</a>
                </p>
            </div>
        </div>
    </div>
</section>



<section class="no-padding" id="portfolio">
    <div class="container-fluid portfolio-container">
        <div class="row no-gutter">
            <div class="col-lg-12 col-sm-12 portfolio-row">
                <div class="portfolio-box">
                    <img src="images/pair_my_dish_no_nav_bar.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-question">
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </div>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Web app
                            </div>
                            <div class="project-name">
                                Pair My Dish
                                <p> Answer a series of simple questions about what you're cooking and receive a customized wine pairing. </p>
                                <p>
                                    <a href="{{ site.baseurl }}/blog/pair-my-dish" class="btn btn-sm portfolio-button">Learn more</a>
                                    <a href="http://pairmydish.com" class="btn portfolio-button btn-sm">Visit the site</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12 portfolio-row">
                <div class="portfolio-box">
                    <img src="images/book_searcher.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-question">
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </div>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Web app
                            </div>
                            <div class="project-name">
                                Book Searcher
                                <p>Search the NY Times best sellers list and see info and ratings about each book.</p>
                                <p>
                                    <a href="{{ site.baseurl }}/blog/booksearcher" class="btn btn-sm portfolio-button">Learn more</a>
                                    <a href="http://booksearcher.erica.tech" class="btn portfolio-button btn-sm">Visit the site</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-primary" id="blog-feed">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Recent blogs</h2>
                <hr class="dark">
            </div>
            {% for post in site.posts limit:3 %}
            <div class="col-lg-4">
                 <h3><a href="{{ site.baseurl }}{{post.url}}">{{ post.title }}</a></h3>
                 <p>
                     {{ post.date | date: "%b %-d, %Y" }}
                 </p>
                 <p>
                    {{ post.excerpt }}
                 </p>
            </div>
            {% endfor %}
        </div>
        <div class="row text-center">
            <a href="{{ site.baseurl }}/blog" class="btn btn-lg read-my-blog text-center">Read my blog</a>
        </div>
    </div>
</section>

<section class="bg-primary" id="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What people say about me</h2>
                <hr class="light">
            </div>
            <div class="col-lg-4">
                <img class="img-responsive center-block testimonial-image" src="/images/suzanne.jpg">
                <h2 class="section-heading text-center">Suzanne Lamar</h2>
                <h4 class="text-center">CEO at Brandtastically</h4>
                <hr class="light">
                <p>
                    I admit it. I had reservations about working with a developer that is on the other side of the globe. I usually enjoy meeting coworkers in person before we delve into a project. What I did not yet realize is that when you have the right individual on your team, where they are is far less important that who they are.
                </p>
                <p>

                    Erica is a joy to work with. She is smart, well organized, and reliable. These are skills hard to find anywhere! I have enjoyed working with Erica on three different websites so far, where she has dazzled me with her technical savvy (e.g., CSS, Javascript, HTML, Bootstrap) and front-end development work.
                </p>
                <p>
                    I highly recommend Erica for any web development work...and look forward to collaborating with her on future projects myself.
                </p>

            </div>
            <div class="col-lg-4">
                <img class="img-responsive center-block testimonial-image" src="/images/llorenc.jpg">
                <h2 class="section-heading text-center">Llorenç Muntaner</h2>
                <h4 class="text-center">Developer at Lingoda GmbH</h4>
                <hr class="light">
                <p>
                    I had the pleasure of mentoring Erica while she attended an intensive programming course in Barcelona. I was amazed by the pace at which she moved, in both learning and executing new technologies. By the end of the course, she ended up building the project that won the grand prize in the prestigious Barcelona Hack Show. Her perseverance and dedication were inspirational to me and to her peers. I'm confident that Erica will shine in any project or role she takes on.
                </p>

            </div>
            <div class="col-lg-4">
                <img class="img-responsive center-block testimonial-image" src="/images/alberto.jpg">
                <h2 class="section-heading text-center">Alberto Betella</h2>
                <h4 class="text-center">CTO at Badi</h4>
                <hr class="light">
                <p>
                    I met Erica during an intensive Web Development Bootcamp, where I was her instructor. Erica was able to develop a project in a very short amount of time (2 weeks) building a complex yet well organized architecture based on Ruby on Rails for the back-end and on HTML5/CSS3 + Javascript for the front-end user interface. She demonstrated to be a perseverant person and a problem solver that manages to achieve her goals within a defined time frame, always with a cheerful attitude. Her project won the final competition and was presented publicly to broad audience. I highly recommend Erica as a full-stack developer.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">

            </div>
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:me@erica.tech">me@erica.tech</a></p>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <i class="fa fa-linkedin-square fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="https://www.linkedin.com/in/ericasosa">linkedin.com/in/ericasosa</a></p>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="https://github.com/ESosa0">github.com/esosa0</a></p>
            </div>
        </div>
    </div>
</section>



