<div class="blog-description panel panel-default">
  <div class="panel-body">

    <div class="blog-heading">
      <h2>It's {{ 'now' | date: "%Y" }} and a girl's gotta blog, amiright?</h2>
      <img src="/images/erica_bw.jpg" class="erica-bw">
      <p><a id="read-about-blog" href="#about-blog" data-toggle="collapse">Read more about my blog</a></p>
    </div>

    <div id="about-blog" class="collapse">
      <p>A long time ago I had a travel blog. Then I got weirded out by people reading it and I deleted it. Now I realize you're supposed to "be seen" on the internet, promote yourself, be your own brand, all that jazz. Ok, I'm not gonna lie, that's not really my thing.</p>

      <p>All that said, I've gotten really into this blog. While I have zero desire to be internet famous, blogging is actually really fun. Especially writing a technology blog. It's so impersonal that I don't need to constantly filter myself or worry what people think of me. In fact, at some point I decided, #nofilter. I'm just gonna write down everything. Everything I learn today, put it in the blog. I don't care how basic or trivial. Let this be a tech diary of sorts, keeping track of all my moves, so that in a year, two years, three years, I can say DAMN I've learned a lot.</p>
    </div>
  </div>
</div>

