<table dir="ltr" border="1" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td><mark>Comparison of candidates</mark></td>
      <td><mark>As a user, I want to compare the stances of the candidates so that I can understand the differences between them.</mark></td>
    </tr>
    <tr>
      <td><mark>Comparison - default view</mark></td>
      <td><mark>As a user, I want to compare all candidates so that I can start narrowing down the candidates</mark></td>
    </tr>
    <tr>
      <td><mark>Comparison - remove candidates</mark></td>
      <td><mark>As a user, I want to remove candidates so that I can focus on the candidates that I prefer</mark></td>
    </tr>
    <tr>
      <td><mark>Comparison - add candidates</mark></td>
      <td><mark>As a user, I want to see which candidates I've removed from the comparison so that I can add them back in if I choose to</mark></td>
    </tr>
    <tr>
      <td><mark>Comparison - filter candidates</mark></td>
      <td><mark>As a user, I want to filter candidates on my comparison view so that I only see the ones I'm interested in</mark></td>
    </tr>
    <tr>
      <td><mark>Comparison - saving candidates</mark></td>
      <td><mark>As a user, I want to save a candidate so that I can see them on my ballot</mark></td>
    </tr>
    <tr>
      <td><mark>Comparison - saving the state</mark></td>
      <td><mark>As a user, I want to navigate from the candidate list to the comparison view and maintain the state of my comparison so that I don't have to redo my work</mark></td>
    </tr>
    <tr>
      <td>Candidate list per office</td>
      <td>As a user, I want to see all the candidates on my ballot so that I can decide who to vote for</td>
    </tr>
    <tr>
      <td>Offices list</td>
      <td>As a user, I want to understand the responsibilities of each political office, so that I can decide if a candidate has the right background to hold that office.</td>
    </tr>
    <tr>
      <td>Navigation between offices</td>
      <td>As a user, I want to easily navigate between offices so that I can fill out my ballot quickly</td>
    </tr>
    <tr>
      <td>Offices description</td>
      <td>As a user, I want to see a description of each office so that I know what the office does</td>
    </tr>
    <tr>
      <td>Ballot measure list</td>
      <td>As a user, I want to see all the ballot measure so that I can decide whether to vote yes or no</td>
    </tr>
    <tr>
      <td>Controls</td>
      <td>As a user, I always want to be able to navigate back to my ballot so that I can quickly access the whole thing</td>
    </tr>
    <tr>
      <td>Save candidate to ballot</td>
      <td>As a user, I want to save a candidate to my ballot so that I can reference it later when I go to the polls</td>
    </tr>
    <tr>
      <td>Timeline of positions for candidate</td>
      <td>As a user, I want to see the positions of a candidate over time, so that I can know if they've changed their positions.</td>
    </tr>
    <tr>
      <td>Timeline of donations for candidate</td>
      <td>As a user, I want to see the donations received by a candidate, so that I can ensure their values align with my own.</td>
    </tr>
    <tr>
      <td>Save ballot</td>
      <td>As a user, I want to save my ballot, so that I can easily reference it when I go to the polls</td>
    </tr>
    <tr>
      <td>Email ballot to friend</td>
      <td>As a user, I want to email my ballot so that I can tell a friend who I'm voting for</td>
    </tr>
    <tr>
      <td>Email ballot to self</td>
      <td>As a user, I want to email my ballot to myself so that I can take it to the polls</td>
    </tr>
    <tr>
      <td><mark>Mobile first design</mark></td>
      <td><mark>As a user, I want to access my ballot on my device, so that I can do research while on the go.</mark></td>
    </tr>
    <tr>
      <td>Save ballot to device</td>
      <td>As a user, I want to access my ballot on my device, so that I can bring it with me to the polls</td>
    </tr>
    <tr>
      <td>Save ballot to apple wallet</td>
      <td>As a user I can save my ballot to my apple wallet so that I can always find it</td>
    </tr>
    <tr>
      <td>Text ballot</td>
      <td>As a user, I can text a friend my ballot in case they need help figuring out who to vote for</td>
    </tr>
    <tr>
      <td>Print ballot</td>
      <td>As a user, I want to print my ballot so that I can take it with me to the polls</td>
    </tr>
    <tr>
      <td>Sign up</td>
      <td>As a user, I want to sign up so that I can use the app</td>
    </tr>
    <tr>
      <td>Log in</td>
      <td>As a user, I want to login so that all of my information will be saved</td>
    </tr>
    <tr>
      <td>Early voting reminders</td>
      <td>As a user, I want to be reminded about early voting so that I remember to vote early</td>
    </tr>
    <tr>
      <td>Election day reminders</td>
      <td>As a user, I want to be reminded before and on election day so that I remember to vote</td>
    </tr>
    <tr>
      <td>Calendar event</td>
      <td>As a user, I can add a calendar event for voting day so that I remember to vote</td>
    </tr>
    <tr>
      <td>Mark that user has voted</td>
      <td>As a user, I want to mark that I voted early so that the app stops sending me notifications</td>
    </tr>
    <tr>
      <td>Share that user has voted</td>
      <td>As a user I can share that I voted so that I can encourage my friends to vote</td>
    </tr>
    <tr>
      <td>Candidate news feed</td>
      <td>As a user, I want view news on certain candidates so that I can be more informed</td>
    </tr>
    <tr>
      <td>Candidate news feed notification</td>
      <td>As a user, I want to be notified whenever one of my candidate appears in the media so that I can stay informed</td>
    </tr>
    <tr>
      <td>Election news feed notification</td>
      <td>As a user, I want to be notified with general election related news so that I can stay informed</td>
    </tr>
    <tr>
      <td>Find polling place</td>
      <td>As a user, I can find my polling place so that I know where to go to vote</td>
    </tr>
  </tbody>
</table>
